<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Text evaluation</title>
  </head>
  <body>
    <main>
      <section class="req-section">
        <div >
          <form class="form" onsubmit="return Client.handleSubmit(event)">
            <p class="txt">
              Type a short sentence or phrase below and find out its positivity
              score!
            </p>
            <input
              id="name"
              type="text"
              name="input"
              value=""
              placeholder="Your input" 
              required
            >
            <input
              id="submit"
              type="submit"
              name="submit"
              value="Submit"
            />
          </form>
        </div>
        <p class="txt" id="rating-res">Your input's rating is:</p> 
        <div class="results">
        <div id="polarity"></div>
        <!-- <div id="subjectivity"></div><br> -->
        <div id="polarity_confidence"></div>
        <!-- <div id="subjectivity_confidence"></div><br> -->
      </div>
      <p class="txt">Hooray!</p>
      </section>
    </main>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("./service-worker.js")
          .then(function(registration) {
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
          })
          .catch(function(err) {
            //registration failed :(
            console.log("ServiceWorker registration failed: ", err);
          });
      } else {
        console.log("No service-worker on this browser");
      }
    </script>
  </body>
</html>
