.form {
    display: grid;
    place-items: center;
}

.txt {
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
    max-width: 400px;
    text-align: center;
}

.txt #rating-res {
    margin-top: 20px;
}

input {
    padding: 5px 20px;
    line-height: 24px;
    margin: 10px 0;
    width: 80%;
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
    border-radius: 2px;
    text-align: center;
}

#submit {
    width: 50%;
    background: #57b7ef70;
    color: white;
    text-decoration-style: double;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px #666;
}

#submit:active {
    background-color: #57b7ef70;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#polarity {
    text-align: center;
}