body {
    display: flex;
    justify-content: center;
}

main {
    background-color: #db7070b3;
    border-radius: 5px;
}

.req-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
