.results{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   font-size: 24px;
   font-family: "Gill Sans", sans-serif;
   text-align: center;
   color: whitesmoke;
 }

#response {
    display:flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    border: 5px solid palevioletred;
    width: 50%;
    height: 30px;
    color: darkmagenta;
}

#hooray {
    text-align:center;
    margin-top: 15px;
}